body,
html {
    height: 100%;
    font-family: "Courier Prime", monospace;
    background-color: #222a68;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.profile-img {
    object-fit: cover;
    object-position: 0px -65px;
    width: 250px;
    height: 250px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 20px;
    margin-bottom: 0px;
}

.social-links-container {
    /* Style your social media icons here */
    display: inline-flex;
    justify-content: center;
}

.linkedin-icon,
.github-icon,
.email-icon {
    width: 25px;
    height: auto;
    margin: 20px;
}


.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    margin-top: 20px;
    border-top: 2px solid white;
}