body,
html {
    height: 100%;
    margin: 0;
    font-family: monospace;
    background-color: #222a68;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.profile-img {
    width: 250px;
    height: auto;
}

.social-links-container {
    /* Style your social media icons here */
    display: flex;
    justify-content: center;
    padding: 10px;
}

.linkedin-icon,
.github-icon,
.email-icon {
    width: 25px;
    height: auto;
    margin: 20px;
}


.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    margin-top: 20px;
    border-top: 2px solid white;
}