body,
html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #744D6C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.profile-img {
    width: 175px;
    height: 200px;
    /* border-radius: 50%;
    margin-bottom: 20px; */
}

.social-links {
    /* Style your social media icons here */
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    margin-top: 50px;
}