body,
html {
    height: 100%;
    font-family: "Courier Prime", monospace;
    background-color: #222a68;
    color: white;

    text-align: center;
}

.about-page {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin: auto;
    align-content: center;
}

.profile-container {
    text-align: center;
    justify-content: center;
    border-bottom: 2px white solid;
    margin-bottom: 10px;
}

.profile-img {
    width: 150px;
    height: auto;
}

.social-links-container {
    /* Style your social media icons here */
    display: flex;
    justify-content: center;
}

.linkedin-icon,
.github-icon,
.email-icon {
    width: 25px;
    height: auto;
    margin: 20px;
}

.about-me-title {
    text-align: center;
    font-size: 32px;
}

a.nav-link:link {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:visited {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:active {
    color: #ffffff;
    text-decoration: underline;
}

.photo-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

img {
    height: 100px;
}