body,
html {
    height: 100%;
    font-family: "Courier Prime", monospace;
    background-color: #222a68;
    color: white;
    text-align: center;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 20px;
    margin-bottom: 0px;
}

.about-page {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin: auto;
    align-content: center;
}

.profile-container {
    text-align: center;
    justify-content: center;
}

.profile-img {
    object-fit: cover;
    object-position: 0px -65px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.social-links-container {
    /* Style your social media icons here */
    display: flex;
    justify-content: center;
    border-bottom: 2px white solid;
    margin-bottom: 5px;
}

.linkedin-icon,
.github-icon,
.email-icon {
    width: 25px;
    height: auto;
    margin: 10px;
}

.about-me-title {
    text-align: center;
    font-size: 32px;
}

a.nav-link:link {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:visited {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

a.nav-link:active {
    color: #ffffff;
    text-decoration: underline;
}

.photo-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

img {
    height: 100px;
}

footer {
    border-top: 2px white solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin: 5%;
}

.icon-tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    white-space: nowrap;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: -40%;
    /* Adjust if necessary */
    left: 50%;
    transform: translateX(-50%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.linkedin-icon-container:hover .linkedin-tooltip,
.github-icon-container:hover .github-tooltip {
    visibility: visible;
    opacity: 1;
}

.email-icon-container:hover .email-tooltip {
    visibility: visible;
    opacity: 1;
}